{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4 text-center text-danger">Аварийные случаи</h2>

<!-- Форма фильтрации по дате -->
<div class="mb-4 text-center">
    <form method="get" class="d-inline-flex align-items-center">
        <label for="start_date" class="me-2">С:</label>
        <input type="date" name="start_date" value="{{ start_date }}" class="form-control me-3">

        <label for="end_date" class="me-2">До:</label>
        <input type="date" name="end_date" value="{{ end_date }}" class="form-control me-3">

        <button type="submit" class="btn btn-warning">Отфильтровать</button>
    </form>
</div>

<!-- Таблица для отображения аварийных ситуаций -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Холодильник</th>
            <th>Температура датчика 1 (°C)</th>
            <th>Температура датчика 2 (°C)</th>
            <th>Влажность (%)</th>
            <th>Температура воздуха (°C)</th>
            <th>Дата события</th>
        </tr>
        </thead>
        <tbody>
        {% for record in page_obj %}
        <tr class="{% if record.is_out_of_range %}table-danger{% endif %}">
            <td>{{ record.fridge.name }}</td>
            <td>{{ record.sensor1_temp }}°C</td>
            <td>{{ record.sensor2_temp }}°C</td>
            <td>{{ record.humidity|default:"—" }}</td>
            <td>{{ record.air_temp|default:"—" }}</td>
            <td>{{ record.event_date|date:"Y-m-d H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Нет аварийных ситуаций на выбранную дату.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Пагинация -->
<nav aria-label="Page navigation" class="mt-3">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if get_params %}&{{ get_params }}{% endif %}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}{% if get_params %}&{{ get_params }}{% endif %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if get_params %}&{{ get_params }}{% endif %}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
