{% extends 'base.html' %}

{% block title %}Список датчиков{% endblock %}

{% block content %}
<h2 class="mb-4 text-center text-primary">Датчики</h2>
<div class="list-group">
    {% for fridge in fridges %}
    <a href="{% url 'fridge_detail' fridge.id %}" class="list-group-item list-group-item-action flex-column align-items-start shadow-sm mb-3 rounded" style="background-color: #f8f9fa;">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-dark">{{ fridge.name }}</h5>
            <small class="text-muted">{{ fridge.location }}</small>
        </div>
        <p class="mb-1 text-dark">{{ fridge.description|truncatewords:25 }}</p>
        <small class="text-primary">Подробнее...</small>
    </a>
    {% empty %}
    <p>No fridges available.</p>
    {% endfor %}
    
</div>
{% endblock %}
